.divBanner
    // position: relative
    display: flex
    justify-content: center
    min-height: 80vh
    background-image: url(../../img/dreamesk2.png)
    background-size: cover
    background-position: center
    align-items: center
    // img
    //     width: 100%
    //     filter: brightness(60%)
        
    h1
        font-family: 'DancingRegular'
        // position: absolute
        color: white
        top: 40%
        // left: 38%

@media screen and ( max-width:  680px)
    .divBanner
        h1
            font-size: 28px