.bigDivFooter
    .footer1
        display: flex
        background-color: #f8ebe2
        justify-content: space-around
        div
            h1
                font-family: 'Fjalla'
                font-size: 20px
                color: gray
            a
                color: #c59e85
                &:hover
                    color: #aa7e63
    .footer2
        background-color: #e2c7b7
        display: flex
        justify-content: center
        h1
            font-size: 15px
            color: gray
            margin: 0px