.divSkills1
    display: flex
    justify-content: center
    height: 90vh
    .texteSkills1
        display: flex
        flex-direction: column
        width: 80%
        align-items: center
        p
            font-family: 'BitterRegular'
            width: 600px
            padding: 5%
            box-shadow: 3px 3px 25px 1px #ccc
        .divImgSkills
            display: flex
            flex-direction: column
            margin: 5%
            div
                display: flex
                justify-content: space-between
                width: 500px
                img
                    width: 20%
                    margin: 30px 0
                    transition: 0.5s ease
                    &:hover
                        transform: scale(1.3)

@media screen and ( max-width: 793px )
    .divSkills1
        height: 150vh
        .texteSkills1
            p
                width: 100%
            .divImgSkills
                height: 1000px
                div
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    img
                        width: 30%